.App {
background-image: url("./images/texturebw.png");
height: 100vh;
}

.AppCombat{
  background-image: url("./images/texturered.png");
  height: 100vh;
}

.centerNav {
  font-size: x-large;
  font-weight: bold;
}
.centerNav a{
  color: black;
}

.centerNav a:link{
  text-decoration: none;
  text-shadow: 2px 2px 2px darkgray;
  font-size: xx-large;
}


.centerNav a:hover{
  text-decoration: none;
}

.container{
  font-size: large;
  font-family: fantasy;
}

.box{
border: 20px inset darkslateblue;
}

.fireGif{
  transform: translateY(300px);
  height: 100px;
}

.fireCol{
  height: 40vh;
}

.container-fluid{
  font-size: large;
  font-family: fantasy;
}

.charSpace{
  height: 20px;
}

.charbanner{
  font-weight: bold;
}
.charSheet{
  font-weight: bold;
}

.accountSheet{
  line-height: 12px;
}


.graphicsWindow{
  box-shadow: 10px 10px 10px black;
}


.textWindow{

  text-align: center;
  padding-top: 10px;
  font-size: x-large;
  background-color: black;
  color: limegreen;
  font-family: 'Lucida Console', monospace;
  box-shadow: 7px 7px 7px 7px black;
}

.textWindow button{
  font-family: fantasy;
}


.textWindow h2{
  text-align: center;
}


.charWindow{
  background-image: linear-gradient(lightgray, steelblue);
  box-shadow: 5px 5px 5px 5px black;
  font-size: x-large;
}

.topRow{
  height: 60vh;
}

.divider{
  height: 65px;
}


.bottomRow{
  height: 19vh;
}

.loginForm{
  color: white;
  font-weight: bold;
  font-size: large;
  width: 50%;
}

.combatButtons {
position: absolute;
bottom: 20px;
margin-left: 18%;
}

.combatButtons button{
  background-image: linear-gradient(whitesmoke, steelblue);
  border-radius: 4px;
}

.switchViewsButton{
  left: 20px;
  bottom: 90px;
  position: absolute;
}

.saveButton{
  border-radius: 4px;
  background-image: linear-gradient(whitesmoke, steelblue);
}

.logButton{
  border-radius: 5px;
  font-size: xx-large;
  font-weight: bold;
  text-shadow: 2px 2px 2px darkgray;
  background-image: linear-gradient(whitesmoke, steelblue);
}

#nsew{
  letter-spacing: 5px;
  font-weight: bold;
  position: absolute;
  bottom: 20px;
  right: 0px;
  cursor: pointer;
}

#moveMsg{
  /* animation: fadeOut 1s;
  animation-delay: 3s; */
transition: opacity 0 1s;

}

.routeIn{
  animation: fadeIn 2s;
}

@keyframes fadeOut {
   0% {opacity: 1;}
   100% {opacity: 0;}
}

@keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
}
.dropdown-toggle{
  margin-left: 10px;
}

.createField{
  width: 50px;
}

.navBox{
  text-align: center;
  margin-left: 65px;
}

.graphicsFill {
  max-width: 100%;
  max-height: 100%;
  object-fit: fill;
}

img{
  min-width: 100%
}

.charSubmit{
  margin-left: 20px;
}

.welcomeTitle{
  font-weight: bold;
  text-align: center;
  padding-top: 20%;
}
.directionBox{
  height: 100px;
  width: 100px;
  font-size: large;
}
.directionBox img{
  height: 40px;
}
#nButton{
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}

#sButton{
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}
#eButton{
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
}
#wButton{
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}

#uButton{
  text-shadow: 3px 3px 3px steelblue;
  color: dodgerblue;
  position: absolute;
  top: 0%;
  transform: translateY(-20px);
  transform: translateX(-80px);
}

#dButton{
  text-shadow: 3px 3px 3px steelblue;
  color: dodgerblue;
  position: absolute;
  left: 0%;
  bottom: 0%;
  transform:translateY(30px);
  transform: translateX(-80px);
}

#charSaveButton{
  float: right;
}
.photoSubmit{
  float: right;
}
.profPic{
  max-width: 150px;
}
.splashPage{
  position: absolute;
  max-height: 100vh;
  min-width: 100%;
}

.startButton{
  bottom: 50px;
  position: absolute;
  text-shadow: 2px 2px 2px gray;
  font-size: xxx-large;
  font-weight: bold;
  color: green;
  border-radius: 5px;
  background-image: linear-gradient(whitesmoke, lightgreen);

}

.startButtonColumn{
  height: 100vh;
}





/* Mobile formatting below */


@media only screen and (max-width: 700px) {


.textWindow{
  max-height: 30vh;
  font-size: small;
  text-align: center;
  font-size: small;
  background-image: linear-gradient(lightgray, lightslategray);
  box-shadow: inset 7px 7px 7px 7px darkgray;
  font-family: fantasy;
  color: black;
}

.textWindow h2{
  font-size: medium;
}




.charWindow{
  max-height: 20vh;
  font-size: small;
}

.splashPage{
  object-fit:cover;

}

.startButton{
  right: 20px;
  font-size: xx-large;
}

.logButton{
margin-top: 20px;
right: 20px;
  font-size: x-large;
  bottom: 0px;
}


.directionBox{
  position:absolute;
  top: 0px;
  right: 0%;
  height: 100px;
  width: 100px;
  transform: translateY(-300px);
  }

  .charWindow a {
    font-size: small;
    }
}





/*landscape mobile below*/

@media screen and (max-width: 800px) and (orientation:landscape) {
.container{
  margin: none;
  padding: none;
}
}
