





@media screen and (min-width: 1000px) {



.combatButtons button{
    border-radius: 2px;
    background-image: linear-gradient(whitesmoke, lightblue);
}

.directionBox img{
  height: 40px;
  width: 40px;
}
.fireGif{
  height: 50px;
  width: 50px;
}


.gameButton{
  border-radius: 2px;
  background-image: linear-gradient(whitesmoke, lightblue);
}

.saveButton{
  border-radius: 2px;
  background-image: linear-gradient(whitesmoke, lightblue);
}

.startButton{
  bottom: 50px;
  text-shadow: 2px 2px 2px gray;
  font-size: xxx-large;
  font-weight: bold;
  color: green;
  border-radius: 5px;
  background-image: linear-gradient(whitesmoke, lightgreen);

}


.upDownBox p{
  color: steelblue;
  text-shadow: 2px 2px 2px black;
  width: 50px;
}

#nButton{
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}

#sButton{
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}
#eButton{
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
}
#wButton{
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}

}




@media only screen and (max-width: 700px) {

.App{
  font-family: fantasy, Tahoma, Helvetica, sans-serif;
}
.AppCombat{
  font-family: fantasy, Tahoma, Helvetica, sans-serif;
}

/* button.logButton{
  position: absolute;
    font-size: x-large;
    width: 120px;
    border-radius: 5px;
    margin-top: 40vh;
    transform: translateX(-17vw);
} */

.charbanner{
  font-weight: bold;
}

.charWindow{
  background-image: linear-gradient(whitesmoke, lightgray);
  font-size: small;
}
.charWindow h4{
  font-size: large;
}

.combatButtons button{
    border-radius: 2px;
    background-image: linear-gradient(whitesmoke, lightblue);
}

.container-fluid{
  border: 3px solid black;
}

.directionBox{
  position: absolute;
  right: 5vw;
  top: -20vh;
  height: 100px;
  width: 100px;
}
.directionBox img{
  height: 40px;
  width: 40px;
}

.fireGif{
  height: 50px;
  width: 50px;
}

.gameButton{
  border-radius: 2px;
  background-image: linear-gradient(whitesmoke, lightblue);
}

.saveButton{
  border-radius: 2px;
  background-image: linear-gradient(whitesmoke, lightblue);
}

.graphicsFill{
  max-height: 360px;
}

.graphicsWindow{
  min-height: 360px;
}

.inventoryWindow h4{
  font-size: large;
  font-weight: bold;
}

.navComponent{
  text-shadow: 2px 2px 2px black;
  position: absolute;
  top: 5vh;
  text-align: center;
  font-size: small;
  font-weight: bold;
}
.navComponent a{
  margin-left: 5px;
}

.startButtonColumn{
  min-height: 100vh;
}

.textWindow{
  min-height: 35vh;
  text-align: center;
}


img#largeSplash{
  display: none;
}


.loginForm{
  position: absolute;
  bottom: 10px;
  text-align: center;
}

.loginForm input{
  width: 70%;
  margin: 0 auto;
}

#mobileSplash{
  position: absolute;
  max-height: 100vh;
  min-height: 100vh;
  max-width: 100vw;
  background-image: url("./images/archbwinfo.png");
  background-position: center;
  background-size: cover;
  border: 5px solid black;

}

.startButtonColumn{
  text-align: center;
}

.startButton{
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  font-size: xx-large;
  width: 120px;
  animation: slidein 3s;
  font-weight: bold;
  color: green;
  border-radius: 5px;
  background-image: linear-gradient(whitesmoke, lightgreen);
  margin-top: 50vh;
}

.textWindow{
  background-color: white;
}

.textWindow h1{
  font-size: x-large;
  font-weight: bold;
}

.upDownBox p{
  color: steelblue;
  text-shadow: 2px 2px 2px black;
  width: 50px;
}
.upDownBox{
  position: absolute;
  right: 40vw;
  bottom: 40vh;
}
#nButton{
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}

#sButton{
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}
#eButton{
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
}
#wButton{
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}


}
