/* .App {
background-color: lightgray;
} */
.centerNav {
  font-size: x-large;
  bottom: 15px;
  position:fixed;
}
.centerNav a{
  color: black;
}

.centerNav a:link{
  text-decoration: none;
  text-shadow: 2px 2px 2px darkgray;
}

.centerNav a:hover{
  text-decoration: none;
}

.container{
  font-size: large;
  font-family: fantasy;
}

.charSpace{
  height: 20px;
}

.charbanner{
  font-weight: bold;
}


.charSheet{
  font-size: small;
}

.accountSheet{
  line-height: 12px;
}

.box{
  border: 15px solid #778899;
  /* border: 15px solid #778899; */
  border-style: ridge;
}

.graphicsWindow{
  background-color: #fffafa;
  background-color: lightgray;
  box-shadow: inset 7px 7px 7px darkgray;
  border-top-left-radius: 10px;
}

.effectsWindow{
  padding-top: 20px;
  background-color: #fffafa;
  border-top: 15px solid #778899;
  border-style: ridge;
}



.textWindow{
  padding-top: 10px;
  background-color: #fffafa;
  box-shadow: inset 7px 7px 7px darkgray;
  border-top-right-radius: 10px;
}

.charWindow{
  background-color: #fffafa;
  box-shadow: inset 7px 7px 7px darkgray;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.toprow{
  height: 58vh;
}

.bottomRow{
  height: 42vh;
}

.combatButtons {
  position: absolute;
  bottom: 50px;
}

.switchViewsButton{
  left: 20px;
  bottom: 90px;
  position: absolute;
}

#nsew{
  letter-spacing: 5px;
  font-weight: bold;
  position: absolute;
  bottom: 80px;
  right: 0px;
  cursor: pointer;
}

#moveMsg{
  /* animation: fadeOut 1s;
  animation-delay: 3s; */
transition: opacity 0 1s;

}

.routeIn{
  animation: fadeIn 2s;
}

@keyframes fadeOut {
   0% {opacity: 1;}
   100% {opacity: 0;}
}

@keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
}
.dropdown-toggle{
  margin-left: 10px;
}

.createField{
  width: 50px;
}

.navBox{
  text-align: center;
  margin-left: 65px;
}
.img {
  
}
